$background: #efefef;
$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;


html,
body {
  padding: 0;
  background-color: $background;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navigation {
  margin-top: 2%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    display: block;
  }
}

.main {
  margin-top: 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.add-item {
  &__shirt, &__pants {
    input, select {
      margin-right: 10px;
      margin-left: 5px;
    }
  }
}

.panel {
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;

  &_header {
    padding: 10px 15px;
    background-color: lig;
    color: darkgray;
    border-color: lightgray;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &_body {
    padding: 15px;
  }
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  caption {
    text-transform: uppercase;
    font-weight: bold;
    color: $lfs-yellow;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  thead {
    border-top: 2px solid $lfs-yellow;
    border-bottom: 2px solid $lfs-yellow;

    th {
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      color: $lfs-blue;
      border: 1px solid #F1F1F1;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #F1F1F1;
      color: $lfs-grey;
      td {
        padding: 10px;
        border: 1px solid #F1F1F1;
      }
      th {
        padding-left: 10px;
        border: 1px solid #F1F1F1;
      }
    }
  }

  tfoot {
    color: $lfs-yellow;
    font-style: italic;
    border-bottom: 2px solid $lfs-yellow;
    tr {
      td {
        padding: 10px;
        border: 1px solid #F1F1F1;
      }
    }
  }
}

.btn {
	width: 90%;
	padding: .5em .5em;
	border: 0;
	font-size: 1.1em;
  color: #fff;

  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
    transition: all;
  }

  &.btn--standard {
    background-color: #0e48e7;
  }

  &.btn--delete {
    background-color: #dd0d4b;
  }
}
